Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2).

In [17]:
#1

def distance(x1, y1, x2, y2):
  return (((x1 - x2)**2 + (y1 - y2)**2)**0.5)

x1, y1, x2, y2 = map(float, input().split())

print(distance(x1, y1, x2, y2))

0 0 6 3
6.708203932499369

Написать функцию season(month), принимающую 1 аргумент — номер месяца (от 1 до 12), которая присваивает глобальной переменной s время года, которому этот месяц принадлежит (зима, весна, лето или осень).

In [26]:
#2
month = int(input())
s = 'idk'

def season(month):
  global s
  if month == 1 or month == 2 or month == 12:
    s = 'winter'
  elif month >= 3 and month <= 5:
    s = 'spring'
  elif month >= 6 and month <=8:
    s = 'summer'
  else:
    s = 'autumn'

season(month)

print(s)

5
spring

Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

In [34]:
#3
a = int(input())
ans = True

def is_prime(a):
  global ans
  for i in range (2, a):
    if a % i == 0:
      ans = False

is_prime(a)

print(ans)

21
False

Написать функцию reverse_list(lst), которая принимает в качестве аргумента список и возвращаем его в перевернутом виде.

Например,

исходный спискок: 8, 1, 0, 4
полученный спискок: 4, 0, 1, 8
Использовать встроенные функции Python нельзя.

In [39]:
#4

x = list(map(int, input().split(',')))

for i in range (int(len(x) / 2)):
  t = x[i]
  x[i] = x[int(len(x) - i - 1)]
  x[int(len(x) - i - 1)] = t

print(x)

8, 1, 0, 4
[4, 0, 1, 8]

Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

In [43]:
#5

str = 'Привет мир!'

str = str.upper()

print(str[4:9])

ЕТ МИ

Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [51]:
#6

x = list(map(int, input().split(',')))

if len(x) % 2 == 0:
  l = 0
else: 
  l = 1

for i in range (1, int(len(x) / 2), 2):
  global l
  t = x[i]
  x[i] = x[int(len(x) - l - 1)]
  x[int(len(x) - l - 1)] = t
  l += 2

print(x)

0, 1, 2, 3, 4, 5, 6, 7, 8, 9
[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

In [52]:
#7

for i in range (0, 501, 7):
  pr = False
  i2 = i
  while i2 != 0:
    s = i2 % 10
    if s == 8:
      pr = True
    i2 = i2 // 10
  if pr == True:
    print(i)

28
84
98
168
182
189
238
280
287
308
378
385
448
483

На вход функция more_than_five(lst) получает список из целых чисел. Результатом работы функции должен стать новый список, в котором содержатся только те числа, которые больше 10 по модулю.

In [63]:
#8

lst = list(map(int, input().split(',')))

def more_than_five(lst):
  ans = []
  for i in range(int(len(lst))):
    if abs(lst[i]) > abs(10):
      ans.append(lst[i])
  return ans

more_than_five(lst)

5, 12, -5, -12

[12, -12]